body {
  background-color: rgb(50, 42, 75);
  margin: 0;
  padding: 0;
}

.profile {
  position: relative;
}

.profile h1 {
  display: absolute;
  color: white;
  margin: 0;
}

main {
  background-color: rgb(50, 42, 75);
}

.icons {
  width: 24px;
  height: 24px;
}

a {
  color: white;
  text-decoration: none;
}

section.about-me {
  margin: 50px;
  display: flex;
  background-color: white;
}

section.projects {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

footer {
  background-color: rgb(50, 42, 75);
  color: white;
}
